@using System.Collections.Generic
@using Questioner.WebApp.Models

@model List<Questioner.WebApp.Models.ThemeListViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Questioner</h1>
    <p>Select a theme to start:</p>
</div>

<table class="table table-striped">
    <caption style="caption-side: top;text-align: center;font-size: 20px;">Themes</caption>
    <thead>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => new ThemeListViewModel().Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => new ThemeListViewModel().PassRate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => new ThemeListViewModel().TopicsQuantity)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => new ThemeListViewModel().QuestionsQuantity)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach(var theme in Model)
{
        @Html.HiddenFor(model => theme.Id)

        <tr>
            <td>
                @(Array.IndexOf(Model.ToArray(), theme) + 1)
            </td>
            <td>
                @Html.ActionLink(theme.Name, "Details", "Theme", new { id = theme.Id })
            </td>
            <td>
                @Html.DisplayFor(model => theme.PassRate)%
            </td>
            <td>
                @Html.DisplayFor(model => theme.TopicsQuantity)
            </td>
            <td>
                @Html.DisplayFor(model => theme.QuestionsQuantity)
            </td>
        </tr>
}
    </tbody>
</table>