@model Questioner.Web.Models.ResultViewModel

@{
    ViewData["Title"] = "Result";
}

@using(Html.BeginForm("Export", "Result", FormMethod.Post))
{
<div style="padding-left: 3%;">
    @Html.HiddenFor(model => model.ThemeId)

    <div class="row">
        <h3 class="font-weight-bold">
            @Html.HiddenFor(model => model.ThemeName)
            @Html.DisplayFor(model => model.ThemeName)
        </h3>
    </div>

    <div class="row">
        <h5>
            @Html.HiddenFor(model => model.ExamResult)
            @Html.DisplayNameFor(model => model.ExamResult)
            @Html.DisplayFor(model => model.ExamResult)
        </h5>
    </div>
    <div class="row">
        <h5>
            @Html.HiddenFor(model => model.Percentage)
            @Html.DisplayNameFor(model => model.Percentage)
            @Html.DisplayFor(model => model.Percentage)%
        </h5>
    </div>
</div>
<div>
    <table class="table table-striped">
        <caption style="caption-side: top;text-align: center;font-size: 20px;">@Html.DisplayNameFor(model => model.Topics)</caption>
        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => new TopicResultViewModel().Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => new TopicResultViewModel().Percentage)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => new TopicResultViewModel().PercentageAnswered)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Topics.Count; i++)
    {
            <tr>
                <td scope="row">
                    @(i + 1)
                </td>
                <td>
                    @Html.HiddenFor(model => model.Topics[i].Name)
                    @Html.DisplayFor(model => model.Topics[i].Name)
                </td>
                <td>
                    @Html.HiddenFor(model => model.Topics[i].Percentage)
                    @Html.DisplayFor(model => model.Topics[i].Percentage)
                </td>
                <td>
                    @Html.HiddenFor(model => model.Topics[i].PercentageAnswered)
                    @Html.DisplayFor(model => model.Topics[i].PercentageAnswered) %
                </td>
            </tr>

    }
        </tbody>
    </table>
</div>
<div>
    <table class="table table-striped">
        <caption style="caption-side: top;text-align: center;font-size: 20px;">@Html.DisplayNameFor(model => model.Questions)</caption>
        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => new QuestionResultViewModel().QuestionText)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => new QuestionResultViewModel().QuestionResult)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Questions.Count; i++)
    {
            <tr>
                <td scope="row">
                    @(i + 1)
                </td>
                <td>
                    @Html.HiddenFor(model => model.Questions[i].QuestionText)
                    @Html.DisplayFor(model => model.Questions[i].QuestionText)
                </td>
                <td>
                    @Html.HiddenFor(model => model.Questions[i].QuestionResult)

                    @Html.DisplayFor(model => model.Questions[i].QuestionResultDescription)
                </td>
            </tr>

    }
        </tbody>
    </table>
</div>
<div>
    <input class="btn btn-primary" type="submit" value="Export to excel" />
</div>
}