@using Questioner.Web.Models 

@model ThemeDetailViewModel

@Html.HiddenFor(model => model.Id)

<div class="row" style="padding-left: 3%;">
    <h3 class="font-weight-bold">
        @Html.DisplayNameFor(model => model.Name)
        @Html.DisplayFor(model => model.Name)
    </h3>
</div>

<table class="table table-striped">
    <caption style="caption-side: top;text-align: center;font-size: 20px;">@Html.DisplayNameFor(model => model.Topics)</caption>
    <thead>
        <tr>
            <th scope="col">
                #
            </th scope="col">
            <th scope="col">
                @Html.DisplayNameFor(model => new TopicDetailViewModel().Name)
            </th scope="col">
            <th scope="col">
                @Html.DisplayNameFor(model => new TopicDetailViewModel().Percentage)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => new TopicDetailViewModel().QuestionsQuantity)
            </th>            
        </tr>
    </thead>
    <tbody>
@foreach (var topic in Model.Topics)
{
        <tr>
            <th scope="row">
                @(Array.IndexOf(Model.Topics.ToArray(), topic) + 1)
            </th>        
            <td>                
                @Html.DisplayFor(model => topic.Name)
            </td>
            <td>                
                @Html.DisplayFor(model => topic.Percentage)
            </td>
            <td>                
                @Html.DisplayFor(model => topic.QuestionsQuantity)
            </td>    
        </tr>    
}
    </tbody>
</table>
<div>
@Html.ActionLink("Start", "Questioner", "Theme", new {id = Model.Id}, new { @class = "btn btn-primary"})
</div>
