@model Questioner.Web.Models.ThemeViewModel

@using(Html.BeginForm("Result", "Theme", FormMethod.Post))
{
<div class="row">    
    @Html.HiddenFor(model => model.Id)    
    @Html.DisplayNameFor(model => model.Name)
    @Html.DisplayFor(model => model.Name)
</div>

<div>
@for (int i = 0; i < Model.Questions.Count; i ++)
{
    <div class="row">
        @Html.HiddenFor(model => model.Questions[i].Id)

        @i
        -        
        @Html.DisplayFor(model => model.Questions[i].QuestionText)
    </div>
    <div>
    @for (var j = 0; j < Model.Questions[i].Answers.Count; j++)
    {
        <div>
            @Html.HiddenFor(model => Model.Questions[i].Answers[j].Id)
            @Html.HiddenFor(model => Model.Questions[i].Answers[j].Selected)

            @Html.EditorFor(model => Model.Questions[i].Answers[j].Selected)
            -
            @Html.DisplayFor(model => Model.Questions[i].Answers[j].AnswerText)
        </div>
    }
    </div>
}
</div>
<div>
    <input class="btn btn-primary" type="submit" value="Finish"/>
</div>
}

